.button {
  $button-border: var(--buttons-main-color);
  $button-bg: var(--buttons-main-color);
  $button-text: var(--buttons-accent-color);

  display: inline-block;
  cursor: pointer;
  padding: calc(0.75em - 1px) 1em;
  border-radius: 0.25em;
  border: 1px solid $button-border;
  background-color: $button-bg;
  color: $button-text;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;

  &:hover{
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 1;
  }

  &.button-text {
    background-color: transparent;
    border-color: transparent;
  }

  &.button-icon-only {
    padding: 0.75rem 0;

    &.button-rounded {
      $size: 4rem;

      border-radius: 50%;
      height: $size;
      width: $size;
    }
  }

  .icon {
    background-image: url("../../../styles/images/play.svg");
  }
}
