@import "../../../styles/style-variables";

.avatar {
  $size: 150px;

  width: $size;
  height: $size;

  border-radius: 50%;

  background-color: $alt-background-color;

  &.avatar-sm {
    $size: 30px;

    width: $size;
    height: $size;
  }

  img {

    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
  }
}

.avatar-upload {
  position: relative;
  cursor: pointer;

  > input {

    display: none;
  }

  .icon-add-image {

    position: absolute;
    transform: translateY(-85%) translateX(15%);
    display: none;
  }
}

.avatar-upload:hover {
  .avatar-img {
    opacity: 0.2;
  }
  .icon-add-image {

    display: block;
  }
}
