@import "./icon";
@import "./page";
@import './modal.scss';

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
