@import 'style-variables';

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  height: 100vh;
  background-color: $main-background-color;
}

.main-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-name-label{
  margin: 24px 24px 24px 3%;
  font-size: 54px;
  color: $font-color;
}

.links-container {
  justify-self: end;
  flex-shrink: .5;
}

.link {
  font-size: 24px;
  margin: 42px;
  text-decoration: none;
  color: $links-font-color;
}

.link:hover {
  color: darkred;
  text-decoration: underline;
}


.main-content {
  height: 100%;
  width: 100%;
  font-size: $fontSize;
  color: $font-color;
  display: flex;
  justify-content: stretch;
  flex-grow: 3;
}

.game-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-image {
  object-fit: contain;
  max-width: 90%;
  height: auto;
}

.game-rules {
  flex: 1 .5 50%;
  text-align: center;
  margin: auto;
  padding: 20px;
}
