@import 'style-variables';

.page {
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;

  &.form-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
