@import 'style-variables';

.page {
  background-color: $primary-color;
  min-width: 100vw;
  min-height: 100vh;

  .page-container {
    height: calc(100vh - #{$top-bar-height});
    box-sizing: border-box;
  }

  &.form-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
