$primary-color: #2a5f18;
$secondary-color: #15300C;
$alt-color: #f0f8ff;
$hover-color: #e9ecef;

$main-background-color: $primary-color;
$alt-background-color: #818381a3;
$top-bar-background-color: $secondary-color;

/** buttons */
$buttons-main-color: $secondary-color;
$buttons-accent-color: $alt-color;
$buttons-disabled-color: $alt-color;

/** text */
$font-color: #FFF;
$font-alt-color: #000000;
$links-font-color: #FFF;

/** top-bar */
$top-bar-height: 52px;
$top-bar-gap: 12px;


$fontSize: 1.45vw;

$startFormsElementHeight: 32px;

/**TOP BAR */
$top-bar-height: 52px;
$top-bar-gap: 12px;
