$primary-color-dark: #181818;
$secondary-color-dark: #6c5fa5;
$alt-color-dark: #AAAAAA;
$hover-color-dark: #0E0E0E;

$alt-background-color-dark: #818381a3;

$font-alt-color-dark: #DFD99D;

$placeholder-color-dark: #bfc5ca;

$error-color-dark: #5f1723;
