$primary-color: #2a5f18;
$secondary-color: #15300C;
$alt-color: #f0f8ff;
$hover-color: #e9ecef;

$alt-background-color: #818381a3;

$font-alt-color: #000000;

$placeholder-color: #bfc5ca;

$error-color: #5f1723;
