$primary-color: #2a5f18;
$secondary-color: #15300C;
$alt-color: #f0f8ff;

/** buttons */
$buttons-main-color: $secondary-color;
$buttons-accent-color: $alt-color;

/************************/
//$page-background-color: #f0f3fa;
//$page-background-alt-color: #15300C;


$mainBackgroundColor: #497f4a;
$top-bar-background-color: $secondary-color;
$altBackgroundColor: #818381a3;

$fontColor: #FFF;

$linksFontColor: #FFF;





$fontSize: 1.45vw;

$startFormsElementHeight: 32px;
