.settings-page {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.page-content{
  flex-grow: 1;
  margin: 5rem auto;
}

.form-container {
  min-width: 250px;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  padding: 20px;
  box-sizing: border-box;
}
