.top-bar {

  position: relative;
  width: 100%;
  height: var(--top-bar-height);
  padding: 5px 20px;

  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  gap: var(--top-bar-gap);

  box-sizing: border-box;

  background-color: var(--top-bar-background-color);

  .top-bar-section {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: var(--top-bar-gap);
  }
}

.menu-content {
  width: 12.5rem;
  border: 0 none;
}

[role='tooltip'].menu-content {
  width: max-content;
  min-height: max-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px;
}

.menu-container {
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    &:not(.p-disabled):hover {
      background: var(--hover-color);
    }
  }

  .menu-button-text {
    color: var(--popup-font-color);
  }
}

.theme-toggle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  gap: 15px;
  padding: calc(0.75em - 1px) 1em;
}

.custom-toggle {
  .react-toggle-track,
  &.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--alt-background-color);
  }

  &.react-toggle--checked .react-toggle-track,
  &.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }

  &.react-toggle--checked .react-toggle-thumb {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
  }

  &.react-toggle--focus .react-toggle-thumb{
    box-shadow: none;
  }
}

img path {
  fill: black;
}



