@import '../../../styles/style-variables';

$forumTextMargin: 5px 10px;

.forum-theme {
  min-height: 15%;

  background-color: $secondary-color;
  border-radius: 20px;
  color: $font-color;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.icon-message {
  width: 4rem;
  height: 3rem;
}

.theme-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}

.theme-data {
  padding: 0 0.7rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.2rem;

  color: $placeholder-color;
  font-size: small;
  align-self: end;
}

.theme-header {
  margin: 7px;
  width: 100%;
  display: flex;
}

.theme-name {
  flex-grow: 2;
  margin: $forumTextMargin;
  margin-left: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.theme-message {
  align-self: flex-start;
  margin: $forumTextMargin;
}

.theme-time {
  margin: $forumTextMargin;
}
